 {% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content=""/>
<!-- Document Title -->
<title>Bookstore HTML5 Template</title>

<!-- StyleSheets -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/color-1.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link rel="stylesheet" href="{% static 'css/transition.css' %}">

<!-- Online Lib -->
<link rel="stylesheet" href="{% static 'css/tether.min.css' %}">
<script src="{% static 'js/tether.min.js' %}"></script>

<!-- Switcher CSS -->
<link href="{% static 'css/switcher.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" id="skins" href="{% static 'css/default.css' %}" type="text/css" media="all">

<!-- FontsOnline -->
    <!--
<link href='https://fonts.googleapis.com/css?family=Merriweather:300,300italic,400italic,400,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900italic,900,100italic,100' rel='stylesheet' type='text/css'>
-->
<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">
<!-- JavaScripts -->
<script src="{% static 'js/modernizr.js' %}"></script>
</head>
<body>
     


<!-- Preloader -->
<div id="status">
	<div id="preloader">
		<div class="preloader position-center-center">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
</div>
<!-- Preloader -->

<!-- Wrapper -->
<div class="wrapper push-wrapper">

<!-- Header -->
	<header id="header">

		<!-- Top Bar -->
		<div class="topbar">
			<div class="container">


				<!-- Social Icons -->
				<div class="social-icons pull-right">
					<ul>
						<li><a class="fa fa-qq" href="#"></a></li>
						<li><a class="fa fa-wechat" href="#"></a></li>
						<li><a class="fa fa-google-plus" href="#"></a></li>
						<li><a class="fa fa-weibo" href="#"></a></li>
					</ul>
				</div>
				<!-- Social Icons -->

				<!-- Cart Option -->
				<div class="cart-option">
					<ul>

						<li><a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-user"></i>Login / Register</a></li>
					</ul>
				</div>
				<!-- Cart Option -->

			</div>
		</div>
		<!-- Top Bar -->

		<!-- Nav -->
		<nav class="nav-holder style-1">
			<div class="container">
				<div class="mega-dropdown-wrapper">

					<!-- Logo -->
					<div class="logo">
						<a ><img src="images/logo-1.png" alt=""></a>
					</div>
					<!-- Logo -->

					<!-- Search bar -->
					<div class="search-bar">
						<a href="#"><i class="fa fa-search"></i></a>
					</div>
					<!-- Search bar -->

					<!-- Responsive Button -->
					<div class="responsive-btn">
						<a href="#menu" class="menu-link circle-btn"><i class="fa fa-bars"></i></a>
					</div>
					<!-- Responsive Button -->

					<!-- Navigation -->
					<div class="navigation">
						<ul>
                            <li >
								<a href="../index"><i class="fa fa-home"></i>主页</a>
							</li>
							<li class="active">
								<a href="../shop"><i class="fa fa-shopping-bag"></i>商城</a>

							</li>

							<li >
								<a href="../author"><i class="fa fa-file-text"></i>作者</a>

							</li>
							<li>
                                <a href="../about"><i class="fa fa-info-circle"></i>关于</a>
                            </li>
                            <li >
								<a href="../cart"><i class="fa fa-shopping-cart"></i>购物车</a>
							</li>
						</ul>
					</div>
					<!-- Navigation -->

				</div>
			</div>
		</nav>
		<!-- Nav -->

	</header>
	<!-- Header -->



	<!-- Main Content -->
	<main class="main-content">

		<!-- Shop Grid -->
		<div class="product-grid-holder tc-padding">
			<div class="container">
				<div class="row">

					<!-- Content -->
					<div class="col-lg-9 col-md-8 pull-right pull-none" id="book_list">

						<!-- Products -->
						<div class="row">
							<div class="col-lg-4 col-xs-6 r-full-width">
								<div class="product-box" id="0">
			    					<div class="product-img" >
			    						<img src="" alt="" height="197" width="132">
			    						<ul class="product-cart-option position-center-x">
			    							<li><a href="#"><i class="fa fa-eye"></i></a></li>
			    							<li><a href="#"><i class="fa fa-cart-arrow-down"></i></a></li>
			    						</ul>
			    					</div>
			    					<div class="product-detail">
			    						<span>Novel</span>
			    						<h5><a>Slow Travel</a></h5>
			    						<p>How to Write a Book Review...</p>
			    						<div class="rating-nd-price">
			    							<strong >$280.99</strong>
			    						</div>

			    					</div>
			    				</div>
							</div>
							<div class="col-lg-4 col-xs-6 r-full-width">
								<div class="product-box" id="0">
			    					<div class="product-img" >
			    						<img src="" alt="" height="197" width="132">
			    						<ul class="product-cart-option position-center-x">
			    							<li><a href="#"><i class="fa fa-eye"></i></a></li>
			    							<li><a href="#"><i class="fa fa-cart-arrow-down"></i></a></li>
			    						</ul>
			    					</div>
			    					<div class="product-detail">
			    						<span>Novel</span>
			    						<h5><a >Slow Travel</a></h5>
			    						<p>How to Write a Book Review...</p>
			    						<div class="rating-nd-price">
			    							<strong >$280.99</strong>
			    						</div>
			    					</div>
			    				</div>
							</div>
							<div class="col-lg-4 col-xs-6 r-full-width">
								<div class="product-box" id="0">
			    					<div class="product-img">
			    						<img src="" alt="" height="197" width="132">
			    						<ul class="product-cart-option position-center-x">
			    							<li><a href="#"><i class="fa fa-eye"></i></a></li>
			    							<li><a href="#"><i class="fa fa-cart-arrow-down"></i></a></li>
			    						</ul>
			    					</div>
			    					<div class="product-detail">
			    						<span>Novel</span>
			    						<h5><a >Slow Travel</a></h5>
			    						<p>How to Write a Book Review...</p>
			    						<div class="rating-nd-price">
			    							<strong >$280.99</strong>
			    						</div>
			    					</div>
			    				</div>
							</div>
							<div class="col-lg-4 col-xs-6 r-full-width">
								<div class="product-box" id="0">
			    					<div class="product-img">
			    						<img src="" alt="" height="197" width="132">
			    						<ul class="product-cart-option position-center-x">
			    							<li><a href="#"><i class="fa fa-eye"></i></a></li>
			    							<li><a href="#"><i class="fa fa-cart-arrow-down"></i></a></li>
			    						</ul>
			    					</div>
			    					<div class="product-detail">
			    						<span>Novel</span>
			    						<h5><a >Slow Travel</a></h5>
			    						<p>How to Write a Book Review...</p>
			    						<div class="rating-nd-price">
			    							<strong >$280.99</strong>
			    						</div>
			    					</div>
			    				</div>
							</div>
							<div class="col-lg-4 col-xs-6 r-full-width">
								<div class="product-box" id="0">
			    					<div class="product-img" >
			    						<img src="" alt="" height="197" width="132">
			    						<ul class="product-cart-option position-center-x">
			    							<li><a href="#"><i class="fa fa-eye"></i></a></li>
			    							<li><a href="#"><i class="fa fa-cart-arrow-down"></i></a></li>
			    						</ul>
			    					</div>
			    					<div class="product-detail">
			    						<span>Novel</span>
			    						<h5><a >Slow Travel</a></h5>
			    						<p>How to Write a Book Review...</p>
			    						<div class="rating-nd-price">
			    							<strong >$280.99</strong>
			    						</div>
			    					</div>
			    				</div>
							</div>
							<div class="col-lg-4 col-xs-6 r-full-width">
								<div class="product-box" id="0">
			    					<div class="product-img">
			    						<img src="" alt="" height="197" width="132">
			    						<ul class="product-cart-option position-center-x">
			    							<li><a href="#"><i class="fa fa-eye"></i></a></li>
			    							<li><a href="#"><i class="fa fa-cart-arrow-down"></i></a></li>
			    						</ul>
			    					</div>
			    					<div class="product-detail">
			    						<span>Novel</span>
			    						<h5><a >Slow Travel</a></h5>
			    						<p>How to Write a Book Review...</p>
			    						<div class="rating-nd-price">
			    							<strong >$280.99</strong>
			    						</div>
			    					</div>
			    				</div>
							</div>
							<div class="col-lg-4 col-xs-6 r-full-width">
								<div class="product-box" id="0">
			    					<div class="product-img">
			    						<img src="" alt="" height="197" width="132">
			    						<ul class="product-cart-option position-center-x">
			    							<li><a href="#"><i class="fa fa-eye"></i></a></li>
			    							<li><a href="#"><i class="fa fa-cart-arrow-down"></i></a></li>
			    						</ul>
			    					</div>
			    					<div class="product-detail">
			    						<span>Novel</span>
			    						<h5><a >Slow Travel</a></h5>
			    						<p>How to Write a Book Review...</p>
			    						<div class="rating-nd-price">
			    							<strong >$280.99</strong>
			    						</div>
			    					</div>
			    				</div>
							</div>
							<div class="col-lg-4 col-xs-6 r-full-width">
								<div class="product-box" id="0">
			    					<div class="product-img">
			    						<img src="" alt="" height="197" width="132">
			    						<ul class="product-cart-option position-center-x">
			    							<li><a href="#"><i class="fa fa-eye"></i></a></li>
			    							<li><a href="#"><i class="fa fa-cart-arrow-down"></i></a></li>
			    						</ul>
			    					</div>
			    					<div class="product-detail">
			    						<span>Novel</span>
			    						<h5><a >Slow Travel</a></h5>
			    						<p>How to Write a Book Review...</p>
			    						<div class="rating-nd-price">
			    							<strong >$280.99</strong>
			    						</div>
			    					</div>
			    				</div>
							</div>
							<div class="col-lg-4 col-xs-6 r-full-width">
								<div class="product-box" id="0">
			    					<div class="product-img">
			    						<img src="" alt="" height="197" width="132">
			    						<ul class="product-cart-option position-center-x">
			    							<li><a href="#"><i class="fa fa-eye"></i></a></li>
			    							<li><a href="#"><i class="fa fa-cart-arrow-down"></i></a></li>
			    						</ul>
			    					</div>
			    					<div class="product-detail">
			    						<span>Novel</span>
			    						<h5><a >Slow Travel</a></h5>
			    						<p>How to Write a Book Review...</p>
			    						<div class="rating-nd-price">
			    							<strong >$280.99</strong>
			    						</div>
			    					</div>
			    				</div>
							</div>
						</div>
						<!-- Products -->

						<!-- Pagination -->
		           		<div class="pagination-holder">
		           			<ul class="pagination">
							   
							</ul>
		           		</div>
		           		<!-- Pagination -->

					</div>
					<!-- Content -->

					<!-- Aside -->
					<aside class="col-lg-3 col-md-4 pull-left pull-none">



						<!-- Aside Widget -->
						<div class="aside-widget">
							<h6>Books by Author</h6>
							<ul class="Category-list" id="Author">
                                <!-- 等待动态添加作者列表 -->
							</ul>
						</div>
						<!-- Aside Widget -->

						<!-- Aside Widget -->
						<div class="aside-widget">
							<h6>年度书籍</h6>
							<ul class="books-year-list best-seller">
								<li>
									<div class="books-post-widget">
										<img src="images/best-seller-aside/img-01.jpg" alt="">
										<h6><a href="#">Jewels of Nizam</a></h6>
		    							<ul class="rating-stars">
		    								<li><i class="fa fa-star"></i></li>
		    								<li><i class="fa fa-star"></i></li>
		    								<li><i class="fa fa-star"></i></li>
		    								<li><i class="fa fa-star"></i></li>
		    								<li><i class="fa fa-star-half-o"></i></li>
		    							</ul>
		    							<div class="offer-price"><sup>$</sup>32.99 <del>$30.99</del></div>
									</div>
								</li>
								<li>
									<div class="books-post-widget">
										<img src="images/best-seller-aside/img-02.jpg" alt="">
										<h6><a href="#">Jhon Carter of Mars</a></h6>
		    							<ul class="rating-stars">
		    								<li><i class="fa fa-star"></i></li>
		    								<li><i class="fa fa-star"></i></li>
		    								<li><i class="fa fa-star"></i></li>
		    								<li><i class="fa fa-star"></i></li>
		    								<li><i class="fa fa-star-half-o"></i></li>
		    							</ul>
		    							<div class="offer-price"><sup>$</sup>32.99 <del>$30.99</del></div>
									</div>
								</li>
								<li>
									<div class="books-post-widget">
										<img src="images/best-seller-aside/img-03.jpg" alt="">
										<h6><a href="#">Trial By Fire</a></h6>
		    							<ul class="rating-stars">
		    								<li><i class="fa fa-star"></i></li>
		    								<li><i class="fa fa-star"></i></li>
		    								<li><i class="fa fa-star"></i></li>
		    								<li><i class="fa fa-star"></i></li>
		    								<li><i class="fa fa-star-half-o"></i></li>
		    							</ul>
		    							<div class="offer-price"><sup>$</sup>32.99 <del>$30.99</del></div>
									</div>
								</li>
								<li>
									<div class="books-post-widget">
										<img src="images/best-seller-aside/img-04.jpg" alt="">
										<h6><a href="#">The Zombie Survival</a></h6>
		    							<ul class="rating-stars">
		    								<li><i class="fa fa-star"></i></li>
		    								<li><i class="fa fa-star"></i></li>
		    								<li><i class="fa fa-star"></i></li>
		    								<li><i class="fa fa-star"></i></li>
		    								<li><i class="fa fa-star-half-o"></i></li>
		    							</ul>
		    							<div class="offer-price"><sup>$</sup>32.99 <del>$30.99</del></div>
									</div>
								</li>
							</ul>
						</div>
						<!-- Aside Widget -->



					</aside>
					<!-- Aside -->

				</div>
			</div>
		</div>
		<!-- Shop Grid -->

	</main>
	<!-- Main Content -->

<!-- Login Modal -->
<!--modal和fade是bootstrap中的插件，modal是模块框，fade使弹出时有淡出淡入的效果，login-modal为style.css中定义的模块样式-->
<div class="modal fade login-modal" id="login-modal" role="dialog">
	<div class="position-center-center" role="document">
		<div class="modal-content">
			<strong>Register</strong>
			<button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<div class="social-options">
				<ul>
					<li><a class="google" href="#" data-toggle="modal" data-target="#register-modal"><i class="fa fa-registered"></i>使用用户名注册</a></li>
				</ul>
			</div>
			<div class="sending-form">

				<div class="form-group">
					<input class="form-control" required="required" placeholder="UserName">
					<i class="fa fa-user"></i>
				</div>
				<div class="form-group">
					<input class="form-control" type="password" required="required" placeholder="Password">
					<i class="fa fa-user"></i>
				</div>
				<p class="terms">You agree to the hldy.hr <a href="#">Terms &amp; Conditions</a></p>
				<button id="btn_login" class="btn-1 shadow-0 full-width">登陆</button>
			</div>
		</div>
	</div>
</div>
<!-- Login Modal -->




<!-- Register Modal -->
<div class="modal fade login-modal" id="register-modal" role="dialog">
	<div class="position-center-center" role="document">
		<div class="modal-content">
			<strong>Register</strong>
			<button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

			<div class="sending-form" >
				<div class="form-group">
					<input class="form-control" required="required" placeholder="Username" >
					<i class="fa fa-user"></i>
				</div>
				<div class="form-group">
					<input class="form-control" required="required"  placeholder="Email" >
					<i class="fa fa-user"></i>
				</div>
				<div class="form-group">
					<input class="form-control" type=
                            "password" required="required"  placeholder="Password">
					<i class="fa fa-user"></i>
				</div>
				<div class="form-group">
					<input class="form-control" type="password"  required="required"  placeholder="PasswordAgain">
					<i class="fa fa-user"></i>
				</div>
				<p class="terms">注册前请阅读 <a href="#">用户须知</a></p>
				<button id="btn_register"   class="btn-1 shadow-0 full-width" >Register account</button>
			</div>
		</div>
	</div>
</div>
<!-- Register Modal -->

<!-- Quit Modal -->
<!--modal和fade是bootstrap中的插件，modal是模块框，fade使弹出时有淡出淡入的效果，login-modal为style.css中定义的模块样式-->
<div class="modal fade login-modal" id="quit-modal" role="dialog">
	<div class="position-center-center" role="document">
		<div class="modal-content">
			<strong>用户信息</strong>
			<button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			
				<p class="terms">用户名:&#12288;<span id="user_name">user</span></p>
				<p class="terms">邮&#12288;箱:&#12288;<span id="user_email">user@Qq.com</span></p>
				<p class="terms">权&#12288;限&#12288;<span id="is_admin">普通用户</span></p>
				<button id="quit_login" class="btn-1 shadow-0 full-width">退出登陆</button>
			</div>
		</div>
	</div>
</div>
<!-- Quit Modal -->





<!-- Quick View -->
<div class="modal fade quick-view" id="quick-view" role="dialog">
	<div class="position-center-center" role="document">
		<div class="modal-content">
			<button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<div class="single-product-detail">
				<div class="row">

					<!-- Product Thumnbnail -->
					<div class="col-sm-5">
						<div class="product-thumnbnail">
							<img src="images/qiuck-view/img-01.jpg" alt="">
						</div>
					</div>
					<!-- Product Thumnbnail -->

					<!-- Product Detail -->
					<div class="col-sm-7">
						<div class="single-product-detail">
							<span class="availability">Availability :<strong>Stock<i class="fa fa-check-circle"></i></strong></span>
							<h3>Land the Earth Beach</h3>
							<ul class="rating-stars">
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star"></i></li>
								<li><i class="fa fa-star-half-o"></i></li>
								<li>1 customer review</li>
							</ul>
							<div class="prics"><del class="was">$32.00</del><span class="now">$30.99</span></div>
							<h4>Overview</h4>
							<p>With this highly anticipated new novel, the author of the bestselling Life of Pi returns to the storytelling power and luminous wisdom of his master novel. The High Mountains of Portugal.</p>
							<div class="quantity-box">
								<label>Qty :</label>
								<div class="sp-quantity">
									<div class="sp-minus fff"><a class="ddd" data-multi="-1">-</a></div>
									<div class="sp-input">
									  <input type="text" class="quntity-input" value="1" />
									</div>
									<div class="sp-plus fff"><a class="ddd" data-multi="1">+</a></div>
								</div>
							</div>
							<ul class="btn-list">
								<li><a class="btn-1 sm shadow-0 " href="#">add to cart</a></li>
								<li><a class="btn-1 sm shadow-0 blank" href="#"><i class="fa fa-heart"></i></a></li>
								<li><a class="btn-1 sm shadow-0 blank" href="#"><i class="fa fa-repeat"></i></a></li>
								<li><a class="btn-1 sm shadow-0 blank" href="#"><i class="fa fa-share-alt"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- Product Detail -->

				</div>
			</div>
			<!-- Single Product Detail -->

		</div>
	</div>
</div>
<!-- Quick View -->

<!-- Java Script -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/gmap3.min.js' %}"></script>
<script src="{% static 'js/datepicker.js' %}"></script>
<script src="{% static 'js/contact-form.js' %}"></script>
<script src="{% static 'js/bigslide.js' %}"></script>
<script src="{% static 'js/3d-book-showcase.js' %}"></script>
<script src="{% static 'js/turn.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/mcustom-scrollbar.js' %}"></script>
<script src="{% static 'js/timeliner.js' %}"></script>
<script src="{% static 'js/parallax.js' %}"></script>
<script src="{% static 'js/countdown.js' %}"></script>
<script src="{% static 'js/countTo.js' %}"></script>
<script src="{% static 'js/bxslider.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/sticky.js' %}"></script>
<script src="{% static 'js/prettyPhoto.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.js' %}"></script>
<script src="{% static 'js/wow-min.js' %}"></script>
<script src="{% static 'js/classie.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/shop.js' %}"></script>
<script src="{% static 'js/LoginRegister.js' %}"></script>
<!-- Switcher JS -->
<script type="text/javascript" src="{% static 'js/cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/colorswitcher.js' %}"></script>
</body>
</html>
